/* Section pour blur l'image - mais comme le background est déclaré dans tatoueur -> ceci ne blur rien. A corriger avec du temps et du café */
.content:before { 
     
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.content {
  position: fixed;
 
}
section{
    min-height: 100vh;
}
.col-md-4{
    width: 33.3333%;
}
#tatoueurstyle{
      background: url(../images/ben-background.jpg)  repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
   -ms-flex-align: center;
   align-items: center;
  text-align: center;

}
.col-md-6{
    width: 50%;
    text-align: center;
}